<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RepositoryPath" value="D:\EPAM\dotnet-courses-2022-1\11-files\Files\Task2\bin\Debug\netcoreapp3.1\github"/>
		<add key="BackUpFolderPath" value="D:\EPAM\dotnet-courses-2022-1\11-files\Files\Task2\bin\Debug\netcoreapp3.1\BackUp"/>
		<add key="FileFilter" value="*.txt"/>
	</appSettings>
</configuration>