<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserTable" value="D:\EPAM\dotnet-courses-2022-1\12-winforms\WinForms\Task1\bin\Debug\netcoreapp3.1\Users.json"/>
		<add key="AwardTable" value="D:\EPAM\dotnet-courses-2022-1\12-winforms\WinForms\Task1\bin\Debug\netcoreapp3.1\Awards.json"/>
	</appSettings>
</configuration>